<%= stylesheet_link_tag "application" %>

<div class='chat-container'>
  <div class='messages'>
    <% @messages.each do |message| %>
      <div class="message-container">
        <p class='message-author'><%= message.user.name %></p>
        <p class='message-content'><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>
<div class='chat-input-container'>
  <textarea class='chat-input-textarea'></textarea>
</div>

<script>
  const textArea = document.querySelector('.chat-input-textarea');
  const chatContainer = document.querySelector('.chat-container');

  addEventListener('DOMContentLoaded', () => {
    chatContainer.scrollTop = chatContainer.scrollHeight;
  });
  
  textArea.addEventListener('keyup', () => {
    const lines = textArea.value.split(/\n/);
    const numberOfLines = lines.length;
    container = document.querySelector('.chat-input-container');
    textarea = document.querySelector('.chat-input-textarea');
    if (numberOfLines > 5) return;
    container.style.cssText = `margin-top: ${(16 + (numberOfLines - 1) * -18)}px;`
    textarea.style.cssText = `height: ${(24 + (numberOfLines - 1) * 18)}px;`;
  });

  textArea.addEventListener('keypress', (e) => {
    if (e.key === 'Enter' && !e.shiftKey) {
      e.preventDefault();
      const content = textArea.value;
      textArea.value = '';
      textArea.style.cssText = `height: 24px;`;
      container = document.querySelector('.chat-input-container');
      container.style.cssText = `margin-top: 16px;`
      addMessage('You', content);
      const response = fetch('/messages', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ message: { content } })
      });
      response.then((response) => {
        return response.json();
      }).then((data) => {
        if (data.message) {
          addMessage('<%= @chatgpt.name %>', data.message);
        }
      });
    }
  });

  const addMessage = (name, content) => {
    span = chatContainer.appendChild(document.createElement('span'));
    span.innerHTML = `
      <div class="message-container">
        <p class='message-author'>${name}</p>
        <p class='message-content'>${content}</p>
      </div>
    `;
    chatContainer.scrollTop = chatContainer.scrollHeight;
  };
</script>
     